body{
    background-color: beige;
}
.container-fluid{
    background-color: #A18167;
}
.blink {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blinker 1s linear infinite;
    color:firebrick;
    font-size: 2rem;
}

@keyframes blinker {
    50% { opacity: 0; }
}
a{
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.images{
    margin-left: 5rem;
}
.jumbotron{ 
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: blanchedalmond;
    border-radius: 5px;
}
