body{
    background-color: beige;
}
/* *{
    margin: 0;
    padding: 0;

} */
.navbar{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.container_main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.blink {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blinker 1s linear infinite;
    color:firebrick;
    font-size: 2rem;
}

@keyframes blinker {
    50% { opacity: 0; }
}
.btn{
    background: #53b5aa;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.category{
    display: flex;
    flex-wrap: wrap;
}
.images{
    margin-left: 5rem;
}
.jumbotron{ 
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    padding:2rem;
    background-color: blanchedalmond;
    border-radius: 5px;
}
.row{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap

}
.container{
    padding: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		/* height: 100%; */
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
.imag{
    height: 100%;
    width: 95%;
    border: 3px solid black;
    border-radius: 3%;
}
  #cart {
    width: 100%;
  }
  
  #cart h1 {
    font-weight: 300;
  }
  
  #cart a {
    color: #53b5aa;
    text-decoration: none;
  
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
  }
  
  #cart a:hover {
    color: #000;
  }
  
  .product.removed {
    margin-left: 980px !important;
    opacity: 0;
  }
  
  .product {
    border: 1px solid #eee;
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
  
    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
  }
  
  .product img {
    width: 100%;
    height: 100%;
  }
  
  .product header, .product .content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
    float: left;
  }
  
  .product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
  }
  
  .product header:hover img {
    opacity: .7;
  }
  
  .product header:hover h3 {
    bottom: 73px;
  }
  
  .product header h3 {
    background: #53b5aa;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
  
    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -ms-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
  }
  
  .remove {
    cursor: pointer;
  }
  
  .product .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
  }
  
  .product h1 {
    color: #53b5aa;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
  }
  
  .product footer.content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
  }
  
  .product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  }
  
  .product footer .full-price {
    background: #53b5aa;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  
    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
  }
  
  .qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
  }
  
  .qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
  }
  
  .qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
  }
  
  .qt-plus {
    line-height: 50px;
  }
  
  .qt-minus {
    line-height: 47px;
  }
  
  #site-footer {
    margin: 30px 0 0 0;
  }
  
  #site-footer {
    padding: 40px;
  }
  
  #site-footer h1 {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
  }
  
  #site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  
  #site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn_cart {
    background: #53b5aa;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    width: 290px;
    text-align: center;
  
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
  
  .btn:hover {
    color: #fff;
    background: #429188;
  }
  
  .type {
    background: #fcfcfc;
    font-size: 13px;
    padding: 10px 16px;
    left: 100%;
  }
  
  .type, .color {
    border: 1px solid #ccc;
    border-style: none none solid none;
    position: absolute;
  }
  
  .color {
    width: 40px;
    height: 40px;
    right: -40px;
  }
  
  .red {
    background: #cb5a5e;
  }
  
  .yellow {
    background: #f1c40f;
  }
  
  .blue {
    background: #3598dc;
  }
  
  .minused {
    margin: 0 50px 0 0 !important;
  }
  
  .added {
    margin: 0 -50px 0 0 !important;
  }
  